In [46]:
import pandas as pd
import missingno as msno
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [47]:
ruta_dataset = "/content/sample_data/ejercicio_Missing_Values.xlsx"
df= pd.read_excel(ruta_dataset)
df

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
0,José,Maza,Redondo,H,Madrid,Madrid,61025400Y,22.0,156.0,60.0,NO,1000.0,Solter/x,SI,SÍ,SÍ,4411125322A
1,Ana Belén,Carrasco,Dimitrova,M,Zaragoza,Zaragoza,73534066F,22.0,160.0,65.0,NO,1200.0,Solter/x,SI,NaN,NaN,4411125322A
2,Pablo,Gálvez,González,H,Talavera de la Reina,Toledo,10223810K,23.0,177.0,70.0,NO,1325.0,Casad/x,SI,SÍ,SÍ,4411125322A
3,María,Gallego,Martínez,M,Sevilla,Sevilla,32770305C,45.0,172.0,89.0,NO,1500.0,Solter/x,No,NO,SÍ,4411125322A
4,José Luis,Fernández,Ortega,H,Oviedo,Asturias,04614346V,37.0,179.0,82.0,SÍ,1662.5,Solter/x,No,NO,SÍ,4411125322A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NaN,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NaN,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NaN,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NaN,NaN
68,María Teresa,Gea,Galván,M,Torremolinos,Málaga,36248330P,55.0,164.0,67.0,NO,1245.0,Casad/x,SI,SÍ,SÍ,NaN

In [48]:
# en la muestra 28, en el campo municipio hay un "-" que según lo que se haga con los datos podría dar problemas

In [49]:
#Analisis de los datos
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Nombre                          67 non-null     object
 1   Apellido 1                      67 non-null     object
 2   Apellido 2                      67 non-null     object
 3   Sexo                            67 non-null     object
 4   Municipio                       64 non-null     object
 5   Provincia                       65 non-null     object
 6   NIF                             58 non-null     object
 7   Edad                            67 non-null     float64
 8   Estatura                        57 non-null     float64
 9   Masa                            56 non-null     float64
 10  Hijos                           63 non-null     object
 11  Ingresos                        62 non-null     float64
 12  Estado Civil                    61 non-null     object
 13  Vacunadx                        64 non-null     object
 14  CARNÉ CONDUCIR                  59 non-null     object
 15  Consumidorx Alcohol Esporádico  26 non-null     object
 16  REFERENCIA ESTUDIO              64 non-null     object
dtypes: float64(4), object(13)
memory usage: 58.7 KB

In [53]:
df.isnull().sum()

Nombre                             0
Apellido 1                         0
Apellido 2                         0
Sexo                               0
Municipio                          3
Provincia                          2
NIF                                9
Edad                               0
Estatura                          10
Masa                              11
Hijos                              4
Ingresos                           5
Estado Civil                       6
Vacunadx                           3
CARNÉ CONDUCIR                     8
Consumidorx Alcohol Esporádico    41
REFERENCIA ESTUDIO                 3
dtype: int64

In [51]:
#vemos que hay dos muestras que no tienen nombre (seguramente sean las mismas que no tienen apellido 1 y apellido 2)
nan_in_col  = df[df['Nombre'].isna()]
nan_in_col

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
#eliminamos muestra 17 y 35 porque están vacias
df = df.drop(17)
df = df.drop(35)
df

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
0,José,Maza,Redondo,H,Madrid,Madrid,61025400Y,22.0,156.0,60.0,NO,1000.0,Solter/x,SI,SÍ,SÍ,4411125322A
1,Ana Belén,Carrasco,Dimitrova,M,Zaragoza,Zaragoza,73534066F,22.0,160.0,65.0,NO,1200.0,Solter/x,SI,NaN,NaN,4411125322A
2,Pablo,Gálvez,González,H,Talavera de la Reina,Toledo,10223810K,23.0,177.0,70.0,NO,1325.0,Casad/x,SI,SÍ,SÍ,4411125322A
3,María,Gallego,Martínez,M,Sevilla,Sevilla,32770305C,45.0,172.0,89.0,NO,1500.0,Solter/x,No,NO,SÍ,4411125322A
4,José Luis,Fernández,Ortega,H,Oviedo,Asturias,04614346V,37.0,179.0,82.0,SÍ,1662.5,Solter/x,No,NO,SÍ,4411125322A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NaN,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NaN,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NaN,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NaN,NaN
68,María Teresa,Gea,Galván,M,Torremolinos,Málaga,36248330P,55.0,164.0,67.0,NO,1245.0,Casad/x,SI,SÍ,SÍ,NaN

In [54]:
#Consumidorx Alcohol Esporádico consideraremos  el valor “NO”
df["Consumidorx Alcohol Esporádico"] = df["Consumidorx Alcohol Esporádico"].fillna("NO")
df

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
0,José,Maza,Redondo,H,Madrid,Madrid,61025400Y,22.0,156.0,60.0,NO,1000.0,Solter/x,SI,SÍ,SÍ,4411125322A
1,Ana Belén,Carrasco,Dimitrova,M,Zaragoza,Zaragoza,73534066F,22.0,160.0,65.0,NO,1200.0,Solter/x,SI,NaN,NO,4411125322A
2,Pablo,Gálvez,González,H,Talavera de la Reina,Toledo,10223810K,23.0,177.0,70.0,NO,1325.0,Casad/x,SI,SÍ,SÍ,4411125322A
3,María,Gallego,Martínez,M,Sevilla,Sevilla,32770305C,45.0,172.0,89.0,NO,1500.0,Solter/x,No,NO,SÍ,4411125322A
4,José Luis,Fernández,Ortega,H,Oviedo,Asturias,04614346V,37.0,179.0,82.0,SÍ,1662.5,Solter/x,No,NO,SÍ,4411125322A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NO,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NO,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NO,NaN
68,María Teresa,Gea,Galván,M,Torremolinos,Málaga,36248330P,55.0,164.0,67.0,NO,1245.0,Casad/x,SI,SÍ,SÍ,NaN

In [55]:
#una persona entre 0 y 12 años no puede generar ingresos
df[df["Edad"]<=12]

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
9,Jesús,López,Núñez,H,Cartagena,Murcia,NaN,2.0,88.0,13.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
16,José,López,Doncel,H,San Vicente del Raspeig,Alicante,NaN,5.0,110.0,18.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
22,Carlos,Jurado,Pérez,H,Madrid,Madrid,06708146N,3.0,92.0,14.0,SÍ,0.0,Solter/x,No,NO,NO,4411125322A
23,Ángeles,Orgaz,Frías,M,Palma de Mallorca,Islas Baleares,55261507M,6.0,118.0,21.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
24,Sara,Flórez,Álvarez,M,Madrid,Madrid,44415288N,4.0,101.0,14.5,NO,0.0,NaN,No,NO,NO,4411125322A
25,Rocío,Manzano,Márquez,M,Úbeda,Jaén,72588830W,7.0,123.0,25.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
33,María Isabel,Jurado,Gómez,M,Baracaldo,Vizcaya,76939156Q,11.0,145.0,56.0,NO,970.0,Solter/x,No,NO,NO,4411125322A
36,Josefa,Ferrer,Salado,M,Olesa de Montserrat,Barcelona,39455398W,6.0,112.0,20.0,SÍ,0.0,NaN,SI,NaN,NO,4411125322A
37,Cristina,Acosta,Mateo,M,Oviedo,Asturias,06708146N,4.0,104.0,16.8,NO,0.0,Solter/x,No,NaN,NO,4411125322A
38,Ana,Peña,Sánchez,M,Cabra,Córdoba,55261507M,7.0,122.0,28.0,NO,0.0,Solter/x,No,NaN,NO,4411125322A
55,María Carmen,Ordoñez,Ortega,M,Madrid,Madrid,33614346V,3.0,90.0,15.0,NaN,NaN,NaN,NaN,NO,NO,4411125322A
62,María Carmen,Romano,Abellán,M,Irun,Guipúzcoa,39455398W,3.0,94.0,14.7,NaN,NaN,NaN,NaN,NO,NO,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NO,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NO,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NO,NaN

In [56]:
menores12 = df["Edad"]<=12
df.loc[menores12,"Ingresos"] = 0
df[df["Edad"]<=12]

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
9,Jesús,López,Núñez,H,Cartagena,Murcia,NaN,2.0,88.0,13.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
16,José,López,Doncel,H,San Vicente del Raspeig,Alicante,NaN,5.0,110.0,18.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
22,Carlos,Jurado,Pérez,H,Madrid,Madrid,06708146N,3.0,92.0,14.0,SÍ,0.0,Solter/x,No,NO,NO,4411125322A
23,Ángeles,Orgaz,Frías,M,Palma de Mallorca,Islas Baleares,55261507M,6.0,118.0,21.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
24,Sara,Flórez,Álvarez,M,Madrid,Madrid,44415288N,4.0,101.0,14.5,NO,0.0,NaN,No,NO,NO,4411125322A
25,Rocío,Manzano,Márquez,M,Úbeda,Jaén,72588830W,7.0,123.0,25.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
33,María Isabel,Jurado,Gómez,M,Baracaldo,Vizcaya,76939156Q,11.0,145.0,56.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
36,Josefa,Ferrer,Salado,M,Olesa de Montserrat,Barcelona,39455398W,6.0,112.0,20.0,SÍ,0.0,NaN,SI,NaN,NO,4411125322A
37,Cristina,Acosta,Mateo,M,Oviedo,Asturias,06708146N,4.0,104.0,16.8,NO,0.0,Solter/x,No,NaN,NO,4411125322A
38,Ana,Peña,Sánchez,M,Cabra,Córdoba,55261507M,7.0,122.0,28.0,NO,0.0,Solter/x,No,NaN,NO,4411125322A
55,María Carmen,Ordoñez,Ortega,M,Madrid,Madrid,33614346V,3.0,90.0,15.0,NaN,0.0,NaN,NaN,NO,NO,4411125322A
62,María Carmen,Romano,Abellán,M,Irun,Guipúzcoa,39455398W,3.0,94.0,14.7,NaN,0.0,NaN,NaN,NO,NO,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,0.0,NaN,NO,NO,NO,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,0.0,NaN,NaN,NO,NO,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NO,NaN

In [57]:
# Un unx niñx no puede estar casada por debajo de los 16 años
#df[df["Estado Civil"].isnull()]
df[df["Edad"]<=16]

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
9,Jesús,López,Núñez,H,Cartagena,Murcia,NaN,2.0,88.0,13.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
16,José,López,Doncel,H,San Vicente del Raspeig,Alicante,NaN,5.0,110.0,18.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
22,Carlos,Jurado,Pérez,H,Madrid,Madrid,06708146N,3.0,92.0,14.0,SÍ,0.0,Solter/x,No,NO,NO,4411125322A
23,Ángeles,Orgaz,Frías,M,Palma de Mallorca,Islas Baleares,55261507M,6.0,118.0,21.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
24,Sara,Flórez,Álvarez,M,Madrid,Madrid,44415288N,4.0,101.0,14.5,NO,0.0,NaN,No,NO,NO,4411125322A
25,Rocío,Manzano,Márquez,M,Úbeda,Jaén,72588830W,7.0,123.0,25.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
31,Ane,Fontán,Barros,M,Bilbao,Vizcaya,06708146N,15.0,150.0,50.0,SÍ,1993.6,Solter/x,No,NO,NO,4411125322A
32,Manu,Rodríguez,Casado,H,Santa Cruz de Tenerife,S.C. de Tenerife,55261507M,13.0,151.0,51.0,SÍ,980.0,Solter/x,No,NO,NO,4411125322A
33,María Isabel,Jurado,Gómez,M,Baracaldo,Vizcaya,76939156Q,11.0,145.0,56.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
36,Josefa,Ferrer,Salado,M,Olesa de Montserrat,Barcelona,39455398W,6.0,112.0,20.0,SÍ,0.0,NaN,SI,NaN,NO,4411125322A
37,Cristina,Acosta,Mateo,M,Oviedo,Asturias,06708146N,4.0,104.0,16.8,NO,0.0,Solter/x,No,NaN,NO,4411125322A
38,Ana,Peña,Sánchez,M,Cabra,Córdoba,55261507M,7.0,122.0,28.0,NO,0.0,Solter/x,No,NaN,NO,4411125322A
55,María Carmen,Ordoñez,Ortega,M,Madrid,Madrid,33614346V,3.0,90.0,15.0,NaN,0.0,NaN,NaN,NO,NO,4411125322A
62,María Carmen,Romano,Abellán,M,Irun,Guipúzcoa,39455398W,3.0,94.0,14.7,NaN,0.0,NaN,NaN,NO,NO,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,0.0,NaN,NO,NO,NO,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,0.0,NaN,NaN,NO,NO,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NO,NaN

In [58]:
menores16 = (pd.isnull(df["Estado Civil"])) & (df["Edad"]<=16)
df.loc [menores16,"Estado Civil"] = "Solter/x"
df[df["Edad"]<=16]

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
9,Jesús,López,Núñez,H,Cartagena,Murcia,NaN,2.0,88.0,13.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
16,José,López,Doncel,H,San Vicente del Raspeig,Alicante,NaN,5.0,110.0,18.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
22,Carlos,Jurado,Pérez,H,Madrid,Madrid,06708146N,3.0,92.0,14.0,SÍ,0.0,Solter/x,No,NO,NO,4411125322A
23,Ángeles,Orgaz,Frías,M,Palma de Mallorca,Islas Baleares,55261507M,6.0,118.0,21.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
24,Sara,Flórez,Álvarez,M,Madrid,Madrid,44415288N,4.0,101.0,14.5,NO,0.0,Solter/x,No,NO,NO,4411125322A
25,Rocío,Manzano,Márquez,M,Úbeda,Jaén,72588830W,7.0,123.0,25.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
31,Ane,Fontán,Barros,M,Bilbao,Vizcaya,06708146N,15.0,150.0,50.0,SÍ,1993.6,Solter/x,No,NO,NO,4411125322A
32,Manu,Rodríguez,Casado,H,Santa Cruz de Tenerife,S.C. de Tenerife,55261507M,13.0,151.0,51.0,SÍ,980.0,Solter/x,No,NO,NO,4411125322A
33,María Isabel,Jurado,Gómez,M,Baracaldo,Vizcaya,76939156Q,11.0,145.0,56.0,NO,0.0,Solter/x,No,NO,NO,4411125322A
36,Josefa,Ferrer,Salado,M,Olesa de Montserrat,Barcelona,39455398W,6.0,112.0,20.0,SÍ,0.0,Solter/x,SI,NaN,NO,4411125322A
37,Cristina,Acosta,Mateo,M,Oviedo,Asturias,06708146N,4.0,104.0,16.8,NO,0.0,Solter/x,No,NaN,NO,4411125322A
38,Ana,Peña,Sánchez,M,Cabra,Córdoba,55261507M,7.0,122.0,28.0,NO,0.0,Solter/x,No,NaN,NO,4411125322A
55,María Carmen,Ordoñez,Ortega,M,Madrid,Madrid,33614346V,3.0,90.0,15.0,NaN,0.0,Solter/x,NaN,NO,NO,4411125322A
62,María Carmen,Romano,Abellán,M,Irun,Guipúzcoa,39455398W,3.0,94.0,14.7,NaN,0.0,Solter/x,NaN,NO,NO,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,0.0,Solter/x,NO,NO,NO,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,0.0,Solter/x,NaN,NO,NO,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NO,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NO,NaN

In [62]:
#unicos en cada columna
for index in range(df.shape[1]):
    print('Columna: ', df.columns.values[index])
    #print('Todos los datos: ', df.iloc[: , index].values)
    print('Datos únicos', df[df.columns[index]].unique())
    print('Únicos', len(df[df.columns[index]].unique()))

Columna:  Nombre
Datos únicos ['José' 'Ana Belén' 'Pablo' 'María' 'José Luis' 'Manuel' 'Rosa'
 'Sebastián' 'Antonio' 'Jesús' 'Juan' 'Jordi' 'Cristina' 'Sara'
 'Alejandro' 'Concepción' 'Carlos' 'Ángeles' 'Rocío' 'María Teresa'
 'Encarnación' 'María Carmen' 'Rafael' 'Ane' 'Manu' 'María Isabel'
 'Emilio' 'Josefa' 'Ana' 'José Antonio' 'Iñigo' 'Francisco' 'Emilia'
 'Manuela' 'Pilar' 'Carmen' 'Sergio' 'Lucia' 'Susana' 'Beatriz' 'Asunción'
 'José María' 'Francisco Javier' 'Juan Manuel' 'Ángel']
Únicos 45
Columna:  Apellido 1
Datos únicos ['Maza' 'Carrasco' 'Gálvez' 'Gallego' 'Fernández' 'García' 'Cano'
 'Caparros' 'Morante' 'López' 'Sanz' 'Martínez' 'Romero' 'Valbuena'
 'Pérez' 'León' 'Cabeza' 'Cobos' 'Díaz' 'Jurado' 'Orgaz' 'Flórez'
 'Manzano' 'Bertomeu' 'Bernal' 'Marrero' 'Fontán' 'Rodríguez' 'Montes'
 'Ferrer' 'Acosta' 'Peña' 'Ramírez' 'Sánchez' 'Gallardo' 'Bouza' 'Linares'
 'Ordoñez' 'Iglesias' 'Perdomo' 'Ruiz' 'Moral' 'Carmona' 'Cortes' 'Duran'
 'Chinea' 'Miguel' 'Romano' 'Pascual' 'Sendra' 'Castro' 'Elizalde'
 'Guerrero' 'Gea']
Únicos 54
Columna:  Apellido 2
Datos únicos ['Redondo' 'Dimitrova' 'González' 'Martínez' 'Ortega' 'Muñoz' 'Gómez'
 'Sánchez' 'Molina' 'Núñez' 'Hernández' 'Valdés' 'Cabrera' 'Busto'
 'Doncel' 'Herranz' 'Doval' 'Díaz' 'Polo' 'Pérez' 'Frías' 'Álvarez'
 'Márquez' 'Nieves' 'Valencia' 'Miranda' 'Fernández' 'Barros' 'Casado'
 'Segura' 'Salado' 'Mateo' 'Carrasco' 'Moreno' 'Panadero' 'Rosales'
 'Calderón' 'Sáez' 'Ibáñez' 'Alemán' 'Hidalgo' 'López' 'Giménez'
 'Rodríguez' 'Palacio' 'Morales' 'Jiménez' 'Carrillo' 'Rico' 'Ortiz'
 'Robles' 'Abellán' 'Calvo' 'Rubio' 'Guisado' 'Martin' 'Alonso' 'Galván']
Únicos 58
Columna:  Sexo
Datos únicos ['H' 'M' '-']
Únicos 3
Columna:  Municipio
Datos únicos ['Madrid' 'Zaragoza' 'Talavera de la Reina' 'Sevilla' 'Oviedo' nan
 'Candelaria' 'Cartagena' 'Rentería' 'Marín' 'San Fernando de Henares'
 'San Sebastián' 'San Fernando' 'Chirivella' 'San Vicente del Raspeig'
 'Barcelona' 'Palma de Mallorca' 'Úbeda' 'Elche' 'Vélez-Málaga' 'Sabadell'
 'Bilbao' 'Santa Cruz de Tenerife' 'Baracaldo' 'Las Palmas de G. C.'
 'Olesa de Montserrat' 'Cabra' 'Móstoles' 'Cáceres' 'Tarrasa' 'Valladolid'
 'Morón de la Frontera' 'Salamanca' 'La Coruña' 'Badalona' 'Valencia'
 'Rincón de la Victoria' 'Coslada' 'Estepona' 'Águilas' 'Dos Hermanas'
 'Mérida' 'Gijón' 'Aranjuez' 'Irun' 'Torrejón de Ardoz' 'Colmenar Viejo'
 'Puertollano' 'Torremolinos']
Únicos 49
Columna:  Provincia
Datos únicos ['Madrid' 'Zaragoza' 'Toledo' 'Sevilla' 'Asturias' nan 'S.C. de Tenerife'
 'Murcia' 'Guipúzcoa' 'Pontevedra' 'Cádiz' 'Valencia' 'Alicante'
 'Barcelona' 'Islas Baleares' 'Jaén' 'Málaga' 'Vizcaya' 'Las Palmas'
 'Córdoba' 'Cáceres' 'Valladolid' 'Salamanca' 'La Coruña' 'Badajoz'
 'Ciudad Real']
Únicos 26
Columna:  NIF
Datos únicos ['61025400Y' '73534066F' '10223810K' '32770305C' '04614346V' '81971380R'
 '39455398W' '06708146N' '35261507M' nan '35614346V' '79455398W'
 '46708146N' '55261507M' '49455398W' '44415288N' '72588830W' '31084380H'
 '76939156Q' '21059241G' '41355613A' '63528246S' '50971380R' '19322774Z'
 '58368760G' '51674668Q' '66979832Z' '33614346V' '33261507M' '60423158L'
 '36248330P']
Únicos 31
Columna:  Edad
Datos únicos [ 22.  23.  45.  37.  59.  55.  78. 110.   2.  56.  19.   5.  18.  21.
   3.   6.   4.   7.  81.  46.  15.  13.  11.  20.  24.  32.  38.  39.
  36.  41.  40.   1.   8.   9.]
Únicos 34
Columna:  Estatura
Datos únicos [156. 160. 177. 172. 179. 188.  nan 165. 145.  88. 163. 171. 180. 110.
 181. 169.  92. 118. 101. 123. 186.  13. 150. 151. 112. 104. 122. 170.
  90. 199.  94.  78.  86. 125. 135. 164.]
Únicos 36
Columna:  Masa
Datos únicos [ 60.   65.   70.   89.   82.  122.    nan  66.   13.   72.   55.   86.
  18.   92.   49.   14.   21.   14.5  25.   50.   51.   56.   20.   16.8
  28.   67.   79.   85.   15.   54.   84.  110.   14.7  10.   30. ]
Únicos 35
Columna:  Hijos
Datos únicos ['NO' 'SÍ' nan]
Únicos 3
Columna:  Ingresos
Datos únicos [1000.        1200.        1325.        1500.        1662.5
 1825.        2100.        2150.        2312.5          0.
  950.         900.         400.                 nan  505.
  780.        1812.        1751.6       1800.        1848.4
 1896.8       1945.2       1993.6        980.         955.
  783.2        745.9428571  713.2571429  680.5714286  647.8857143
  615.2        582.5142857  549.8285714  517.1428571 5313.533333
 1680.        1652.        1700.        1245.       ]
Únicos 39
Columna:  Estado Civil
Datos únicos ['Solter/x' 'Casad/x' 'Divorciad/x']
Únicos 3
Columna:  Vacunadx
Datos únicos ['SI' 'No' nan 'NO']
Únicos 4
Columna:  CARNÉ CONDUCIR
Datos únicos ['SÍ' nan 'NO']
Únicos 3
Columna:  Consumidorx Alcohol Esporádico
Datos únicos ['SÍ' 'NO']
Únicos 2
Columna:  REFERENCIA ESTUDIO
Datos únicos ['4411125322A' nan]
Únicos 2